<div class="flex justify-content-center align-item-center" style="margin-top: 150px;">

  <div>

    <h2>Login</h2>
    <!-- [formGroup]="loginForm" (ngSubmit)="onSubmit()" -->
    <form style="width: fit-content;" [formGroup]="userLogin" (ngSubmit)="userLogin.value">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" formControlName="username" />
        <!-- formControlName="username" -->
        <!-- [ngClass]="{ 'is-invalid': submitted && f.username.errors }" -->
        <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div> -->
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" formControlName="password" />
        <!-- formControlName="password" -->
        <!-- [ngClass]="{ 'is-invalid': submitted && f.password.errors }" -->
        <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div> -->
      </div>
      <div class="form-group">
        <!-- [disabled]="loading"  -->
        <button class="btn btn-primary" (click)="login(userLogin.value)">Login</button>
      </div>
    </form>
  </div>

</div>
