/* You can add global styles to this file, and also import other style files */

/*@import '~@fortawesome/fontawesome-svg-core/styles.css';*/

@import "tailwindcss";

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.p-menubar {
  background: white;
  border: none;
  align-items: unset !important;
  justify-content: center !important;
}

p-menubarsub {
  justify-content: center;
  display: flex;
  width: -webkit-fill-available;
}

p-galleria p-galleriacontent .p-galleria {
  max-width: 900px !important;
}

p-panelmenu {
  display: flex;
  width: auto;
  background: white;
  border: none;
}

.p-panelmenu .p-panelmenu-header > a {
  border: none;
  padding: .5rem;
  border-bottom: 1px solid #dee2e6;
  background: transparent;
  color: #40A2D8;
}
