/* You can add global styles to this file, and also import other style files */

/*@import '~@fortawesome/fontawesome-svg-core/styles.css';*/

body {
  min-height: 100vh;
  /*background: #7FC7D9;*/
  /*padding: 10px*/
  padding: 0;
  margin: 0;
}

.p-menubar {
  /*height: 150px;*/
  background: white;
  border: none;
  /*background: #7FC7D9;*/
  align-items: unset !important;
  justify-content: center !important;
}

p-menubarsub {
  justify-content: center;
  display: flex;
  width: -webkit-fill-available;
}

p-galleria p-galleriacontent .p-galleria {
  max-width: 900px !important;
}

.p-galleria .p-galleria-item-nav {
    /*color: black;*/
}
  /*.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
  font-size: xx-large;
  font-family: sans-serif;
}*/
